/* Tickets Table*/
th {
    text-align: center;
}
a {
    cursor: pointer;
}
td {
    text-align: center;
}
.minor {
    color: white;
    background-color: #5cb85c;
    font-size: 15px;
    font-weight: bold;
}
.major {
    color: white;
    background-color: #e6c010;
    font-size: 15px;
    font-weight: bold;
}
.critical {
    color: white;
    background-color: #d9534f;
    font-size: 15px;
    font-weight: bold;
}
.table-issues tr:hover {
    opacity: 0.75;
}

/* Dropdown */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* The Close Button */
.close {
    color: rgba(0, 0, 0, 0.96);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.login-menu {
    margin-left: 15px;
    margin-right: -15px;
}
.main-menu {
    margin-right: 15px;
}

/* Dashboard Box */
.box, .info-box, .small-box, .nav-tabs-custom, .callout {
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    border: 0;
}
.info-box, .small-box {
    color: #fff !important;
    cursor: pointer;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.25);
}
.small-box>.inner {
    padding: 10px;
}
.small-box>.inner p {
    text-transform: uppercase;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0,0,0,0.15);
}
.skin-blue a, .skin-blue a:hover, .skin-blue a:focus {
    color: #2196f3;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #2196f3 !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #5cb85c !important;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #e6c010  !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #d9534f !important;
}

/* Navbar */
.navbar-nav.menu-second {
    border-bottom: none;
}
.navbar-nav.menu-second > li > a {
    border: none !important;
    color: #999 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
.navbar-nav.menu-second > li > a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #dd4b39;
    bottom: -1px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.navbar-nav.menu-second li.active a:before {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-nav.menu-second > li.active > a, .navbar-nav.menu-second > li.active > a:hover, .navbar-nav.menu-second > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.navbar-nav.menu-second li.active a {
    font-weight: bold;
    color: #dd4b39 !important;
    background-color: #fff !important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.navbar-header .logo-top img {
    width: 50px;
    margin: 10px 10px 4px;
}
.login-menu li {
    border-left: 1px solid #e7e7e7;
    border-radius: 0;
}
#main-top-navigation.navbar {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.custom-panel {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
 }
.footer {
    text-align: center;
    margin-top: 50px;
}
.footer .flash{
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
}
.footer .flashnews {
    border-top: 2px solid #dd4b39;
    border-bottom: 2px solid #dd4b39;;
    margin-bottom: 10px;
    background-color: #fff;
    color: #dd4b39;
}
.bold {
    margin-top: 10px;
    font-weight: bold;
}
.row-issue {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.row-issue.bugs {
    background-color: #d9534f;
}
.row-issue.sr {
    background-color: #e6c010;
}
.row-issue.ar {
    background-color: #2196f3;
}
.row-issue.story {
    background-color: #5cb85c;
}