<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
<<<<<<< HEAD

{% stylesheets
    '../node_modules/bootstrap/dist/css/bootstrap.min.css'
    '../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
    '../node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css'
    '../node_modules/metismenu/dist/metisMenu.min.css'
    'assets/css/dashboard.css'
    'assets/css/sb-admin-2.css'
    output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ absolute_url(asset_url) }}" type="text/css"/>
=======
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="all" rel="stylesheet">

{% stylesheets 'bundles/app/css/*.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
{% endstylesheets %}
