<<<<<<< HEAD
{% javascripts
    '../node_modules/jquery/dist/jquery.min.js'
    '../node_modules/bootstrap/dist/js/bootstrap.min.js'
    '../node_modules/metismenu/dist/metisMenu.min.js'
    '../node_modules/datatables.net/js/jquery.dataTables.min.js'
    '../node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js'
    '../node_modules/datatables-responsive/js/dataTables.responsive.js'
    '../node_modules/moment/min/moment.min.js'
    '../node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
    '../node_modules/webticker/jquery.webticker.min.js'
    '../node_modules/canvasjs/dist/jquery.canvasjs.min.js'
    'assets/js/sb-admin-2.js'
    'assets/js/base.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    function loadIssues(severity) {
        if($("#test").length > 0) {
            $.ajax({
                url: "{{ path('api_v1_post_view', {'_format':'html'}) }}",
                type: 'POST',
                data: {severity: severity}
            }).done(function (response) {
                template = response;
                $('#test').html('');
                $('#test').append(template);
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log('Error : ' + errorThrown);
            });
        }
    }

    $('.dashboard').on('click', function () {
        if($("#test").length > 0) {
            var tracker = $(this).data('ticket');
            $.ajax({
                url: "{{ path('api_v1_post_tracker_view', {'_format':'html'}) }}",
                type: 'POST',
                data: {tracker: tracker}
            }).done(function (response) {
                template = response;
                $('#test').html(template);
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log('Error : ' + errorThrown);
            });
        }
    })

=======
<script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/metisMenu.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/dataTables.responsive.js') }}"></script>
<script src="{{ asset('bundles/app/js/sb-admin-2.js') }}"></script>
<script src="{{ asset('bundles/app/js/moment.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.webticker.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.canvasjs.min.js') }}"></script>

<script src="{{ asset('assets/js/base.js') }}"></script>

<script>
    function loadIssues(severity) {
        $.ajax({
            url: "{{ path('api_v1_post_view', {'_format':'html'}) }}",
            type: 'POST',
            data: {severity:severity}
        }).done(function(response){
            template = response;
            $('#test').html('');
            $('#test').append(template);
        }).fail(function(jqXHR, textStatus, errorThrown){
            console.log('Error : ' + errorThrown);
        });

    }
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
</script>
