<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="7200"> {# auto refresh after every 2h#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<<<<<<< HEAD
    <title>{% block title %}Visual Management {% endblock %}</title>
=======
    <title>{% block title %}Welcome!{% endblock %}</title>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1

    {% block stylesheets %}
        {% include 'default/region/page_head_style.html.twig' %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% block body %}
{% endblock %}

<<<<<<< HEAD
<footer class="footer">
    {% block flash_news %}
        <section class="flash">
            <div class="demo4 csTicker csTicker--mini">
                <div class="csTicker__title">
                    <h4>{{ 'label.news_title'|trans }}</h4>
                </div>
                <div class="flashnews">
                    <ul id="webTicker" class="fs-ticker">
                        {% if flash is defined and flash is not empty %}
                            {% for fn in flash %}
                                <li>{{ fn.title }}: {{ fn.description }} </li>
                            {% endfor %}
                        {% else %}
                            <li>{{ 'label.no_news'|trans }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}

    <div class="clearfix"></div>
    <span class="bold">Dashboard Umanis &copy; {{ 'now'|date('Y') }}</span>
=======
<footer style="text-align: center">
    {# {% if flash is defined %}
         <ul id="webTicker">
             {% for fn in flash %}
                 <li>{{ fn.title }}</li>
                 <li>{{ fn.description }}</li>
             {% endfor %}
         </ul>
     {% endif %}#}
    {#{% if flash is defined %}
    <div class="ticker-wrap">
        <div class="ticker">
            {% for fn in flash %}
                <div class="ticker__item">{{ fn.title }} {{ fn.description }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}#}

    {% block flash_news %}
    <section style="margin-top:50px">
        <div class="demo4 csTicker csTicker--mini">
            <div class="csTicker__title">{{ 'label.news_title'|trans }}</div>
            <ul id="webTicker" class="fs-ticker">
                {% if flash is defined %}
                    {% for fn in flash %}
                        <li>{{ fn.title }}:{{ fn.description }} </li>
                    {% endfor %}
                {% else %}
                    <li>{{ 'label.no_news'|trans }}</li>
                {% endif %}
            </ul>
        </div>
    </section>
    {% endblock %}

    <div class="clearfix"></div>
    <span>Dashboard Umanis &copy; 2018</span>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
</footer>

{% block javascripts %}
    {% include 'default/region/page_footer_script.html.twig' %}
{% endblock %}
<<<<<<< HEAD

{% block modal %}
    {% include 'parts/modal/calendar_modal.html.twig' %}
{% endblock %}
</body>
</html>
=======
</body>
</html>




>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
