{% extends 'base.html.twig' %}
{% block body %}

    {% include 'parts/sides.html.twig' %}
<<<<<<< HEAD
    {% include 'parts/config_table.html.twig' %}
=======
    {% include 'parts/confTable.html.twig' %}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1

    <!-- wrapper -->
    <div id="wrapper">
    </div>
    <!-- /#wrapper -->
{% endblock %}

<<<<<<< HEAD
{% block modal %}
    {{ parent() }}

    {% if form_add is defined %}
        {% include 'parts/form/add_sla_form.html.twig' %}
    {% endif %}

    {% include 'parts/modal/confirm_modal.html.twig' %}
{% endblock %}

=======
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/charts.js') }}"></script>

    <script>
        {% if issues is defined %}
        $(document).ready(function () {
            $('.charts-modal').on('show.bs.modal', function (event) {
                var issues = {{ issues|json_encode|raw }};
                var months = ["Jan.", "Fév.", "Mar.", "Avr.", "Mai.", "Juin.", "Juil.", "Aout.", "Sept.", "Oct.", "Nov.", "Déc."];

                if (issues !== undefined && Array.isArray(issues)) {
                    setTimeout(
                        renderMorrisAreas(issues, months),
                        1000);
                }
            });
        });
        {% endif %}
    </script>

    <script>
        $('.delete-sla').on('click', function () {
            var id = $(this).attr('data-id');
            var href = '{{ path('delete') }}' + '?id=' + id;
            $('#deletionModal #deletionBtn').attr('href', href);
        })
    </script>
{% endblock %}