{% extends 'base.html.twig' %}
{% block body %}

    {% include 'parts/sides.html.twig' %} {#contains only the menu#}
    {% include 'parts/content.html.twig' %}
    <div id="wrapper">
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}