{% extends 'base.html.twig' %}

{% block  body %}
    {% include 'parts/sides.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'label.ticket_to_fix'|trans }}
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.project'|trans }}</th>
                            <th>{{ 'label.resolved_ticket'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for res in result %}
                            <tr class="odd gradeX">
                                <td>{{ res.firstname }} {{ res.lastname }}</td>
                                <td>{{ res.name }}</td>
                                <td>{{ res.ResolvedTickets }} </td>
                            </tr>
                            <!--<li>{{ res.name }}::{{ res.ResolvedTickets }} ::{{ res.name }}</li>-->
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="div_graph"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock%}

