{% extends 'base.html.twig' %}

{% block  body %}
    {% include 'parts/sides.html.twig' %}
    {#taskActivity#}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.ticket_to_fix'|trans }}</b>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="TicketsToSolve">
                        <thead>
                        <tr>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.project'|trans }}</th>
                            <th>{{ 'label.total_ticket'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ress in results %}
                            <tr class="odd gradeX">
                                <td>{{ ress.firstname }} {{ ress.lastname }}</td>
                                <td>{{ ress.name }}</td>
                                <td>{{ ress.nbreTickets }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


{% endblock%}

