<<<<<<< HEAD
{% extends 'base.html.twig' %}
{% block body %}

    {% include 'parts/sides.html.twig' %} {#contains only the menu#}
    <div class="container-fluid">
    <div class="row rw">
        <div class="col-lg-12">

            {% include 'parts/sides/dashboard_elements.html.twig' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.home_title'|trans }} {{ currentMonth}}/{{ currentYear }}</b>
                </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">{{ 'label.criticals_in_progress'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-progress">
                                {% if blue is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for issue in blue %}
                                        <tr class=" blue">
                                            <td> {{ issue.id }}</td>
                                            <td> {{ issue.project }}</td>
                                            <td> {{ issue.Tracker }}</td>
                                            <td> {{ issue.Severity }}</td>
                                            <td class="center">{{ issue.subject }}</td>
                                            <td>{{ issue.spentTime }}</td>
                                            {% if issue.slaAbove > 0 %}
                                                <td class="center">{{ issue.slaToShow }}</td>
                                            {% else %}
                                                <td class="center">0</td>
                                            {% endif %}
                                        </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="panel panel-warning">
                        <div class="panel-heading">{{ 'label.criticals_warning'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-warning">
                                {% if yellow is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for issue in yellow %}
                                    <tr class=" yellow">
                                        <td> {{ issue.id }}</td>
                                        <td> {{ issue.project }}</td>
                                        <td> {{ issue.Tracker }}</td>
                                        <td> {{ issue.Severity }}</td>
                                        <td class="center">{{ issue.subject }}</td>
                                        <td>{{ issue.spentTime }}</td>
                                        {% if issue.slaAbove > 0 %}
                                            <td class="center">{{ issue.slaToShow }}</td>
                                        {% else %}
                                            <td class="center">0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading">{{ 'label.criticals_danger'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-danger">
                                {% if red is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for issue in red %}
                                    <tr class=" red">
                                        <td> {{ issue.id }}</td>
                                        <td> {{ issue.project }}</td>
                                        <td> {{ issue.Tracker }}</td>
                                        <td> {{ issue.Severity }}</td>
                                        <td class="center">{{ issue.subject }}</td>
                                        <td>{{ issue.spentTime }}</td>
                                        {% if issue.slaAbove > 0 %}
                                            <td class="center">{{ issue.slaToShow }}</td>
                                        {% else %}
                                            <td class="center">0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div id="wrapper">
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if blue is not empty %}
            $('#dataTables-progress').DataTable({
                responsive: true
            });
            {% endif %}

            {% if yellow is not empty %}
            $('#dataTables-warning').DataTable({
                responsive: true
            });
            {% endif %}

            {% if red is not empty %}
            $('#dataTables-danger').DataTable({
                responsive: true
            });
            {% endif %}
        });
    </script>
=======
{% extends 'base.html.twig' %}
{% block body %}

    {% include 'parts/sides.html.twig' %} {#contains only the menu#}
    <div class="container-fluid">
    <div class="row rw">
        <div class="col-lg-12">

            {% include 'parts/sides/dashboard_elements.html.twig' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.home_title'|trans }} {{ currentMonth}}/{{ currentYear }}</b>
                </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">{{ 'label.criticals_in_progress'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-example">
                                {% if blue is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for issue in blue %}
                                        <tr class=" blue">
                                            <td> {{ issue.id }}</td>
                                            <td> {{ issue.project }}</td>
                                            <td> {{ issue.Tracker }}</td>
                                            <td> {{ issue.Severity }}</td>
                                            <td class="center">{{ issue.subject }}</td>
                                            <td>{{ issue.spentTime }}</td>
                                            {% if issue.slaAbove > 0 %}
                                                <td class="center">{{ issue.slaToShow }}</td>
                                            {% else %}
                                                <td class="center">0</td>
                                            {% endif %}
                                        </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="panel panel-warning">
                        <div class="panel-heading">{{ 'label.criticals_warning'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-example">
                                {% if yellow is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for issue in yellow %}
                                    <tr class=" yellow">
                                        <td> {{ issue.id }}</td>
                                        <td> {{ issue.project }}</td>
                                        <td> {{ issue.Tracker }}</td>
                                        <td> {{ issue.Severity }}</td>
                                        <td class="center">{{ issue.subject }}</td>
                                        <td>{{ issue.spentTime }}</td>
                                        {% if issue.slaAbove > 0 %}
                                            <td class="center">{{ issue.slaToShow }}</td>
                                        {% else %}
                                            <td class="center">0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-danger">
                        <div class="panel-heading">{{ 'label.criticals_danger'|trans }}</div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered" id="dataTables-example">
                                {% if red is not empty %}
                                <thead>
                                <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.project'|trans }}</th>
                                    <th>{{ 'label.tracker'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.subject'|trans }}</th>
                                    <th>{{ 'label.spend_time'|trans }}</th>
                                    <th>{{ 'label.above_sla'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for issue in red %}
                                    <tr class=" red">
                                        <td> {{ issue.id }}</td>
                                        <td> {{ issue.project }}</td>
                                        <td> {{ issue.Tracker }}</td>
                                        <td> {{ issue.Severity }}</td>
                                        <td class="center">{{ issue.subject }}</td>
                                        <td>{{ issue.spentTime }}</td>
                                        {% if issue.slaAbove > 0 %}
                                            <td class="center">{{ issue.slaToShow }}</td>
                                        {% else %}
                                            <td class="center">0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <li>{{ 'label.no_critcals'|trans }}</li>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </div>
    <div id="wrapper">
    </div>
    </div>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
{% endblock %}