<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block  body %}
{% include 'parts/sides.html.twig' %}
<!-- Side navigation -->

{#graphes#}

{#<div id="chartContainer"></div>

<div id="PieContainer"></div>#}

{# tickets by month #}
 <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.charts_by_month'|trans({'%year%':'2017'}) }}</b>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="table1">
                        <thead>
                        <tr>
                            <th width="25%">{{ 'label.month'|trans }}MONTH</th>
                            <th width="25%">{{ 'label.resolved_ticket'|trans }}</th>
                            <th width="25%">{{ 'label.all_tickets'|trans }}All Tickets</th>
                            <th width="25%"{{ 'label.rendement'|trans }}>Rendement</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in issues %}
                            <tr class="odd gradeX">
                                <td>{{ issue.mois }}</td>
                                <td>{{ issue.ClosedTickets }}</td>
                                <td>{{ issue.TotalTickets }}</td>
                                <td>{{ issue.Rendement }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
 </div>

{# tickets per assignee and status #}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.charts_by_status'|trans }}</b>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="table2">
                        <thead>
                        <tr>
                            <th width="25%">{{ 'label.assignee'|trans }}</th>
                            <th width="25%">{{ 'label.opened'|trans }}</th>
                            <th width="25%">{{ 'label.in_progress'|trans }}</th>
                            <th width="25%">{{ 'label.closed'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in issues_status %}
                            <tr class="odd gradeX">
                                <td>{{ issue.firstname ~' '~ issue.lastname }}</td>
                                <td>{{ issue.Opened }}</td>
                                <td>{{ issue.In_Progress }}</td>
                                <td>{{ issue.Closed }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {# tickets per assignee and Priority#}
<div id="priority" class="row">
    <div class="col-lg-12">
        {{ include('parts/priority.html.twig') }}
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
    <script>
        function loadTickets(chosenMonth) {
            var m = chosenMonth.value;
            $.ajax({
                url: "{{ path('api_v1_post_filter_month', {'_format':'html'}) }}",
                type: 'POST',
                data: {m: m},
            }).done(function(response){
                template = response;
                $('#priority').html('');
                $('#priority').append(template);
            }).fail(function(jqXHR, textStatus, errorThrown){
                console.log('Error : ' + errorThrown);
            });
        }
    </script>
{% endblock%}








=======
{% extends 'base.html.twig' %}

{% block  body %}
{% include 'parts/sides.html.twig' %}
<!-- Side navigation -->

{#graphes#}

{#<div id="chartContainer"></div>

<div id="PieContainer"></div>#}

{# tickets by month #}
 <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.charts_by_month'|trans({'%year%':'2017'}) }}</b>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="table1">
                        <thead>
                        <tr>
                            <th width="25%">{{ 'label.month'|trans }}MONTH</th>
                            <th width="25%">{{ 'label.resolved_ticket'|trans }}</th>
                            <th width="25%">{{ 'label.all_tickets'|trans }}All Tickets</th>
                            <th width="25%"{{ 'label.rendement'|trans }}>Rendement</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in issues %}
                            <tr class="odd gradeX">
                                <td>{{ issue.mois }}</td>
                                <td>{{ issue.ClosedTickets }}</td>
                                <td>{{ issue.TotalTickets }}</td>
                                <td>{{ issue.Rendement }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
 </div>

{# tickets per assignee and status #}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{ 'label.charts_by_status'|trans }}</b>
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="display table table-striped table-bordered table-hover" id="table2">
                        <thead>
                        <tr>
                            <th width="25%">{{ 'label.assignee'|trans }}</th>
                            <th width="25%">{{ 'label.opened'|trans }}</th>
                            <th width="25%">{{ 'label.in_progress'|trans }}</th>
                            <th width="25%">{{ 'label.closed'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in issues_status %}
                            <tr class="odd gradeX">
                                <td>{{ issue.firstname ~' '~ issue.lastname }}</td>
                                <td>{{ issue.Opened }}</td>
                                <td>{{ issue.In_Progress }}</td>
                                <td>{{ issue.Closed }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {# tickets per assignee and Priority#}
<div id="priority" class="row">
    <div class="col-lg-12">
        {{ include('parts/priority.html.twig') }}
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
    <script>
        function loadTickets(chosenMonth) {
            var m = chosenMonth.value;
            $.ajax({
                url: "{{ path('api_v1_post_filter_month', {'_format':'html'}) }}",
                type: 'POST',
                data: {m: m},
            }).done(function(response){
                template = response;
                $('#priority').html('');
                $('#priority').append(template);
            }).fail(function(jqXHR, textStatus, errorThrown){
                console.log('Error : ' + errorThrown);
            });
        }
    </script>
{% endblock%}








>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
