<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">{{ 'entsog_reporting'|trans }}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% include 'parts/sides/dashboard_elements.html.twig' %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ 'label.sla_configuration_title'|trans }}
                            <a data-toggle="modal" data-target="#addModal" class="btn btn-primary pull-right bta">{{ 'configuration.add'|trans }}</a>
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class=" display table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>{{ 'label.ticket_type'|trans }}</th>
                                    <th>{{ 'label.criticity'|trans }}</th>
                                    <th>{{ 'label.answer'|trans }}</th>
                                    <th>{{ 'label.resolution'|trans }}</th>
                                    <th>{{ 'label.actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in configs %}
                                    <tr class="odd gradeX">
                                        <td>{{ c.ticketType }}</td>
                                        <td>{{ c.ticketCriticality }}</td>
                                        <td>{{ c.answer }}H</td>
                                        <td>{{ c.resolution }}H</td>
                                        <td>
                                            <div>
                                                <a href="{{ path('edit',{'id':c.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#deletionModal" data-id="{{ c.id }}" class="delete-sla"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- /#page-wrapper -->
</div>
{% if (js is defined) %}{{ js|raw }}{% endif %}