<!-- Page Content -->
<div class="container-fluid">
    <div class="row rw">
        <div class="col-lg-12">
<<<<<<< HEAD
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">{{ 'entsog_reporting'|trans }}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% include 'parts/sides/dashboard_tracker.html.twig' %}
            <div id="test">
                {% include 'parts/sides/table_body.html.twig' %}
=======
            {# <div class="row">
                 <div class="col-lg-12">
                     <h1 class="page-header">ENTSOG-Reporting</h1>
                 </div>
                 <!-- /.col-lg-12 -->
             </div>#}
            {% include 'parts/sides/dashboard_elements.html.twig' %}
            <div id="test">
                {% include 'parts/sides/tableBody.html.twig' %}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- /#page-wrapper -->
</div>
