<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'entsog_reporting'|trans }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <form action="{{ path('flash_news') }}" method="POST">
                {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                <!-- /. ROW  -->
                <div class="row roow">
                    <div class="col-md-8">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                flash news
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            {{ form_label(form.idproject, "Project", {'label_attr': {'class': 'control-label lbl'}}) }}
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form_widget(form.idproject, {'attr': {'class': 'form-control','placeholder':'' }}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.title, "Titre", {'label_attr': {'class': 'control-label lbl'}}) }}
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form_widget(form.title, {'attr': {'class': 'form-control','placeholder':'' }}) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.description, "Description", {'label_attr': {'class': 'control-label lbl'}}) }}
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'' }}) }}
                                            </div>
                                        </div>

{#                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                {{ form_label(form.dated, "Date début", {'label_attr': {'class': 'control-label lbl'}}) }}
                                                <div class='input-group date' id='datetimepicker6'>
                                                    {{ form_widget(form.dated, {'attr': {'name':'datetimepicker6', 'class': 'form-control','placeholder':'' }}) }}
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>#}

                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label class="control-label">{{ 'label.start_date'|trans }}</label>
                                                <div class='input-group date' id='datetimepicker6'>
                                                    <input class="form-control" name='datetimepicker6'/>
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-md-6'>
                                            <div class="form-group">
                                                <label class="control-label">{{ 'label.end_date'|trans }}</label>
                                                <div class='input-group date' id='datetimepicker7'>
                                                    <input class="form-control" name='datetimepicker7'/>
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group bt pull-right">
                                            <input type="submit" class="btn  btn-primary" value="Ajouter">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                </div>
                {{ form_widget(form._token) }}
                <!-- /. PAGE INNER  -->
                {{ form_end(form, {'render_rest':false}) }}
            </form>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- /#page-wrapper -->
</div>







