<<<<<<< HEAD
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ 'label.charts_by_priority'|trans }}</b>
                <input id="month" type="month" onchange="javascript:loadTickets(this)" value="{{ choosen_date }}">
            </div>

            <!-- /.panel-heading -->
            <div id="priority" class="panel-body">
                <table width="100%" class="display table table-striped table-bordered table-hover" id="table3">
                    <thead>
                    <tr>
                        <th width="25%">{{ 'label.assignee'|trans }}</th>
                        <th width="25%">{{ 'label.minor'|trans }}</th>
                        <th width="25%">{{ 'label.major'|trans }}</th>
                        <th width="25%">{{ 'label.critical'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if table is defined %}
                        {% for issue in table %}
                            <tr class="odd gradeX">
                                <td>{{ issue.firstname ~' '~ issue.lastname }}</td>
                                <td>{{ issue.Minor }}</td>
                                <td>{{ issue.Major }}</td>
                                <td>{{ issue.Critical }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for issu in issues_priority %}
                            <tr class="odd gradeX">
                                <td>{{ issu.firstname ~' '~ issu.lastname }}</td>
                                <td>{{ issu.Minor }}</td>
                                <td>{{ issu.Major }}</td>
                                <td>{{ issu.Critical }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
=======
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ 'label.charts_by_priority'|trans }}</b>
                <input id="month" type="month" onchange="javascript:loadTickets(this)" value="{{ choosen_date }}">
            </div>

            <!-- /.panel-heading -->
            <div id="priority" class="panel-body">
                <table width="100%" class="display table table-striped table-bordered table-hover" id="table3">
                    <thead>
                    <tr>
                        <th width="25%">{{ 'label.assignee'|trans }}</th>
                        <th width="25%">{{ 'label.minor'|trans }}</th>
                        <th width="25%">{{ 'label.major'|trans }}</th>
                        <th width="25%">{{ 'label.critical'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if table is defined %}
                        {% for issue in table %}
                            <tr class="odd gradeX">
                                <td>{{ issue.firstname ~' '~ issue.lastname }}</td>
                                <td>{{ issue.Minor }}</td>
                                <td>{{ issue.Major }}</td>
                                <td>{{ issue.Critical }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for issu in issues_priority %}
                            <tr class="odd gradeX">
                                <td>{{ issu.firstname ~' '~ issu.lastname }}</td>
                                <td>{{ issu.Minor }}</td>
                                <td>{{ issu.Major }}</td>
                                <td>{{ issu.Critical }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
</div>