<<<<<<< HEAD
<div class="sides" style="margin-bottom: 100px">
=======
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1

    <!-- /.navbar-header -->
    {% include 'parts/sides/top_navigation.html.twig' %}
    <!-- /.navbar-top-links -->

    {#{% include 'parts/sides/side_menu.html.twig' %}#}
    <!-- /.navbar-static-side -->
<<<<<<< HEAD
</div>
=======
</nav>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
