<?xml version="1.0" encoding="UTF-8" ?>
<pmd version="@project.version@" timestamp="2019-03-07T13:07:08+00:00">
  <file name="D:\visual-management\src\AppBundle\Command\ConnectToRedmineCommand.php">
    <violation beginline="45" endline="45" rule="UnusedFormalParameter" ruleset="Unused Code Rules" externalInfoUrl="https://phpmd.org/rules/unusedcode.html#unusedformalparameter" priority="3">
      Avoid unused parameters such as '$input'.
    </violation>
  </file>
  <file name="D:\visual-management\src\AppBundle\Controller\DefaultController.php">
    <violation beginline="29" endline="363" rule="TooManyPublicMethods" ruleset="Code Size Rules" package="AppBundle\Controller" externalInfoUrl="https://phpmd.org/rules/codesize.html#toomanypublicmethods" class="DefaultController" priority="3">
      The class DefaultController has 12 public methods. Consider refactoring DefaultController to keep number of public methods under 10.
    </violation>
    <violation beginline="29" endline="363" rule="CouplingBetweenObjects" ruleset="Design Rules" package="AppBundle\Controller" externalInfoUrl="https://phpmd.org/rules/design.html#couplingbetweenobjects" class="DefaultController" priority="2">
      The class DefaultController has a coupling between objects value of 13. Consider to reduce the number of dependencies under 13.
    </violation>
  </file>
  <file name="D:\visual-management\src\AppBundle\Controller\SecurityController.php">
    <violation beginline="38" endline="38" rule="UnusedLocalVariable" ruleset="Unused Code Rules" externalInfoUrl="https://phpmd.org/rules/unusedcode.html#unusedlocalvariable" priority="3">
      Avoid unused local variables such as '$lastUsernameKey'.
    </violation>
  </file>
  <file name="D:\visual-management\src\AppBundle\Entity\Issues.php">
    <violation beginline="22" endline="692" rule="ExcessivePublicCount" ruleset="Code Size Rules" package="AppBundle\Entity" externalInfoUrl="https://phpmd.org/rules/codesize.html#excessivepubliccount" class="Issues" priority="3">
      The class Issues has 58 public methods and attributes. Consider reducing the number of public items to less than 45.
    </violation>
    <violation beginline="22" endline="692" rule="TooManyFields" ruleset="Code Size Rules" package="AppBundle\Entity" externalInfoUrl="https://phpmd.org/rules/codesize.html#toomanyfields" class="Issues" priority="3">
      The class Issues has 29 fields. Consider redesigning Issues to keep the number of fields under 15.
    </violation>
    <violation beginline="22" endline="692" rule="ExcessiveClassComplexity" ruleset="Code Size Rules" package="AppBundle\Entity" externalInfoUrl="https://phpmd.org/rules/codesize.html#excessiveclasscomplexity" class="Issues" priority="3">
      The class Issues has an overall complexity of 58 which is very high. The configured complexity threshold is 50.
    </violation>
  </file>
  <file name="D:\visual-management\src\AppBundle\Manager\ConnectionManager.php">
    <violation beginline="28" endline="342" rule="TooManyPublicMethods" ruleset="Code Size Rules" package="AppBundle\Manager" externalInfoUrl="https://phpmd.org/rules/codesize.html#toomanypublicmethods" class="ConnectionManager" priority="3">
      The class ConnectionManager has 12 public methods. Consider refactoring ConnectionManager to keep number of public methods under 10.
    </violation>
  </file>
</pmd>
