<div id="calendarModal" class="modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="{{ path('calendar') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'modal.calendar_title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group date" id="calendarpicker" data-date="{{ 'now'|date('m-Y') }}">
                        <input class="form-control" name="calendarpicker"/>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-2 col-sm-4 col-xs-4" data-dismiss="modal">
                        {{ 'label.close'|trans }}
                    </button>
                    <button id="validBtn" type="submit" class="btn btn-danger col-md-2 col-sm-4 col-xs-4 pull-right">
                        {{ 'confirm.submit'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
