<div id="deletionModal" class="modal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
<<<<<<< HEAD
                <h4 class="modal-title">{{ 'confirm.deletion_title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <span>{{ 'confirm.deletion'|trans }}</span>
=======
                <h4 class="modal-title">{{ 'Confirm.deletion_title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <span>{{ 'Confirm.deletion'|trans }}</span>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-2 col-sm-4 col-xs-4" data-dismiss="modal">{{ 'label.close'|trans }}</button>
                <a id="deletionBtn" class="btn btn-danger col-md-2 col-sm-4 col-xs-4 pull-right">
<<<<<<< HEAD
                    {{ 'confirm.submit'|trans }}
=======
                    {{ 'Confirm.submit'|trans }}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
                </a>
            </div>
        </div>
    </div>
</div>
