{% extends 'base.html.twig' %}
{% block body %}

    {% include 'parts/sides.html.twig' %}
    {% include 'parts/form/edit_sla_form.html.twig' %}

    <!-- wrapper -->
    <div id="wrapper">
        <!-- /#page-content -->
    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/charts.js') }}"></script>
{% endblock %}