<<<<<<< HEAD
<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            {{ form_start(form_add, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalLabel">{{ 'configuration.add'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_label(form_add.ticketType, 'label.ticket_type'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.ticketType, {'attr': {'class': 'form-control','placeholder':'placeholder.ticket_type'|trans }}) }}

                {{ form_label(form_add.ticketCriticality, 'label.ticket_criticality'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.ticketCriticality, {'attr': {'class': 'form-control','placeholder':'placeholder.ticket_criticality'|trans }}) }}

                {{ form_label(form_add.answer, 'label.answer'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.answer, {'attr': {'class': 'form-control','placeholder':'placeholder.answer'|trans }}) }}

                {{ form_label(form_add.resolution, 'label.resolution'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.resolution, {'attr': {'class': 'form-control','placeholder':'placeholder.resolution'|trans }}) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default col-md-3 col-sm-4 col-xs-4" data-dismiss="modal">
                    {{ 'label.close'|trans }}
                </button>
                {{ form_widget(form_add.Valider, {'attr': {'class': 'btn btn-success col-md-3 col-sm-4 col-xs-4 pull-right' }}) }}
            </div>
            {{ form_end(form_add) }}
        </div>
    </div>
=======
<div id="addModal" class="modal">
    {{ form_start(form_add, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'configuration.add'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_label(form_add.ticketType, 'label.ticket_type'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.ticketType, {'attr': {'class': 'form-control','placeholder':'Tickets type (Bug,Story...)' }}) }}

                {{ form_label(form_add.ticketCriticality, 'label.ticket_criticality'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.ticketCriticality, {'attr': {'class': 'form-control','placeholder':'Tickets criticality (Minor, Major...)' }}) }}

                {{ form_label(form_add.answer, 'label.answer'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.answer, {'attr': {'class': 'form-control','placeholder':'Anwer time' }}) }}

                {{ form_label(form_add.resolution, 'label.resolution'|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form_add.resolution, {'attr': {'class': 'form-control','placeholder':'Resolution time' }}) }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default col-md-2 col-sm-4 col-xs-4" data-dismiss="modal">
                    {{ 'label.close'|trans }}
                </button>
                {{ form_widget(form_add.Valider, {'attr': {'class': 'btn btn-success col-md-2 col-sm-4 col-xs-4 pull-right' }}) }}
            </div>
        </div>
    </div>
    {{ form_end(form_add) }}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
</div>