{% if form is defined %}
    <div id="myModal">
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h4 class="modal-title">{{ 'configuration.edit'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_label(form.ticketType, 'label.ticket_type'|trans, {'label_attr': {'class': 'control-label'}}) }}
<<<<<<< HEAD
                    {{ form_widget(form.ticketType, {'attr': {'class': 'form-control','placeholder':'placeholder.ticket_type'|trans }}) }}

                    {{ form_label(form.ticketCriticality, 'label.ticket_criticality'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.ticketCriticality, {'attr': {'class': 'form-control','placeholder':'placeholder.ticket_criticality'|trans }}) }}

                    {{ form_label(form.answer, 'label.answer'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.answer, {'attr': {'class': 'form-control','placeholder':'placeholder.answer'|trans }}) }}

                    {{ form_label(form.resolution, 'label.resolution'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.resolution, {'attr': {'class': 'form-control','placeholder':'placeholder.resolution'|trans }}) }}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default col-md-3 col-sm-4 col-xs-4" href="{{ path('config') }}">
                        {{ 'label.close'|trans }}
                    </a>
                    {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-success col-md-3 col-sm-4 col-xs-4 pull-right' }}) }}
=======
                    {{ form_widget(form.ticketType, {'attr': {'class': 'form-control','placeholder':'Tickets type (Bug,Story...)' }}) }}

                    {{ form_label(form.ticketCriticality, 'label.ticket_criticality'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.ticketCriticality, {'attr': {'class': 'form-control','placeholder':'Tickets criticality (Minor, Major...' }}) }}

                    {{ form_label(form.answer, 'label.answer'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.answer, {'attr': {'class': 'form-control','placeholder':'Anwer time' }}) }}

                    {{ form_label(form.resolution, 'label.resolution'|trans, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.resolution, {'attr': {'class': 'form-control','placeholder':'Resolution time' }}) }}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default col-md-2 col-sm-4 col-xs-4" href="{{ path('config') }}">
                        {{ 'label.close'|trans }}
                    </a>
                    {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-success col-md-2 col-sm-4 col-xs-4 pull-right' }}) }}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endif %}
