<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3 class="huge">{{ tracker.bugs }}</h3>
                <p>{{ 'dashboard.bug_tickets'|trans }}</p>
            </div>
            <div class="icon">
                <i class="fa fa-bug"></i>
            </div>
            <a class="small-box-footer dashboard bug" data-ticket="bug">
                {{ 'dashboard.view_details'|trans }} <i class="fa fa-filter"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 class="huge">{{ tracker.supports }}</h3>
                <p>{{ 'dashboard.support_tickets'|trans }}</p>
            </div>
            <div class="icon">
                <i class="fa fa-support"></i>
            </div>
            <a class="small-box-footer dashboard support" data-ticket="support">
                {{ 'dashboard.view_details'|trans }} <i class="fa fa-filter"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 class="huge">{{ tracker.analysis }}</h3>
                <p>{{ 'dashboard.analysis_tickets'|trans }}</p>
            </div>
            <div class="icon">
                <i class="fa fa-clock-o"></i>
            </div>
            <a class="small-box-footer dashboard analysis" data-ticket="analysis">
                {{ 'dashboard.view_details'|trans }} <i class="fa fa-filter"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3 class="huge">{{ tracker.stories }}</h3>
                <p>{{ 'dashboard.story_tickets'|trans }}</p>
            </div>
            <div class="icon">
                <i class="fa fa-database"></i>
            </div>
            <a class="small-box-footer dashboard story" data-ticket="story">
                {{ 'dashboard.view_details'|trans }} <i class="fa fa-filter"></i>
            </a>
        </div>
    </div>
</div>