<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-ticket fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{% set size = result | length %} {{ size }}</div>
                        <div>{{ 'dashboard.tickets_total'|trans }}</div>
                    </div>
                </div>
            </div>
            <a href="{{ path('homepage') }}">
                <div class="panel-footer">
                    <span class="pull-left">{{ 'dashboard.view_details'|trans }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ minors }}</div>
                        <div>{{ 'dashboard.minor_tickets'|trans }}</div>
                    </div>
                </div>
            </div>
            <a onclick="javascript:loadIssues('Minor');">
                <div class="panel-footer">
                    <span class="pull-left">{{ 'dashboard.view_details'|trans }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ majors }}</div>
                        <div>{{ 'dashboard.major_tickets'|trans }} {#<span>&#9888;</span>#} </div>
                    </div>
                </div>
            </div>
            <a onclick="javascript:loadIssues('Major');">
                <div class="panel-footer">
                    <span class="pull-left">{{ 'dashboard.view_details'|trans }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ criticals }}</div>
                        <div>{{ 'dashboard.critical_tickets'|trans }}</div>
                    </div>
                </div>
            </div>
            <a onclick="javascript:loadIssues('Critical');">
                <div class="panel-footer">
                    <span class="pull-left">{{ 'dashboard.view_details'|trans }}</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>