<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block  body %}
    {% include 'parts/sides.html.twig' %}
    <div>
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'label.charts'|trans }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="BarContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="ColumnContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chartContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="PieContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/charts.js') }}"></script>
    <script>
        $(document).ready(function () {
            var issues = {{ issues|json_encode|raw }};
            var months = ["Jan.", "Fév.", "Mar.", "Avr.", "Mai.", "Juin.", "Juil.", "Aout.", "Sept.", "Oct.", "Nov.", "Déc."];

            if (issues !== undefined && Array.isArray(issues)) {
                renderCharts(issues, months);
            }
        });
    </script>
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block  body %}
    {% include 'parts/sides.html.twig' %}
    <div>
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'label.charts'|trans }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="BarContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="ColumnContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chartContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="PieContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/charts.js') }}"></script>
    <script>
        $(document).ready(function () {
            var issues = {{ issues|json_encode|raw }};
            var months = ["Jan.", "Fév.", "Mar.", "Avr.", "Mai.", "Juin.", "Juil.", "Aout.", "Sept.", "Oct.", "Nov.", "Déc."];

            if (issues !== undefined && Array.isArray(issues)) {
                renderCharts(issues, months);
            }
        });
    </script>
{% endblock %}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
