<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default custom-panel">
            <div class="panel-heading">
                <b>{{ 'label.reporting_sla'|trans }} {{ currentMonth}}/{{ currentYear }}</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-bordered table-issues" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>{{ 'label.id'|trans }}</th>
                        <th>{{ 'label.project'|trans }}</th>
                        <th>{{ 'label.tracker'|trans }}</th>
                        <th>{{ 'label.criticity'|trans }}</th>
                        <th>{{ 'label.subject'|trans }}</th>
                        <th>{{ 'label.spend_time'|trans }}</th>
                        <th>{{ 'label.above_sla'|trans }}</th>
                        <th>{{ 'label.remaining_time'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if toShow is defined %}
                        {% for issue in toShow %}
                            <tr class="row-issue {{ issue.bugTracker|lower }} odd gradeX">
                                <td>{{ issue.id }}</td>
                                <td>{{ issue.project }}</td>
                                <td>{{ issue.Tracker }}</td>
                                <td>{{ issue.Severity }}</td>
                                <td class="center">{{ issue.subject }}</td>
                                <td>{{ issue.spentTime }}</td>
                                {% if issue.slaAbove > 0 %}
                                    <td class="center">{{ issue.slaToShow }}</td>
                                {% else %}
                                    <td class="center">0</td>
                                {% endif %}
                                <td class="center">{{ issue.slaAbove == 0 ? issue.remainingTime : '-' }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for issue in result %}
                            <tr class="row-issue {{ issue.bugTracker|lower }}">
                                <td>{{ issue.id }}</td>
                                <td>{{ issue.project }}</td>
                                <td>{{ issue.Tracker }}</td>
                                <td>{{ issue.Severity }}</td>
                                <td class="center">{{ issue.subject }}</td>
                                <td>{{ issue.spentTime }}</td>
                                <td class="center">{{ issue.slaAbove > 0 ? issue.slaToShow : '-' }}</td>
                                <td class="center">{{ issue.slaAbove == 0 ? issue.remainingTime : '-' }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- what does this script bellow do -->
