<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ 'label.reporting_sla'|trans }} {{ currentMonth}}/{{ currentYear }}</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-bordered" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>{{ 'label.id'|trans }}</th>
                        <th>{{ 'label.project'|trans }}</th>
                        {#<th>Status</th>#}
                        <th>{{ 'label.tracker'|trans }}</th>
                        <th>{{ 'label.criticity'|trans }}</th>
                        {#<th>id</th>#}
                        <th>{{ 'label.subject'|trans }}</th>
                        {#<th>CreationDT</th>#}
                        {#<th>IdentifiedtoReproducedDT</th>#}
                        {#<th>ResponseTimeStatus1</th>#}
                        <th>{{ 'label.spend_time'|trans }}</th>
                        {#<th>ResponseTimeStatus2</th>#}
                        {#<th>TimeEntsogTestedtodeliver</th>#}
                        <th>{{ 'label.above_sla'|trans }}</th>
                        {#<th>{{ 'label.remaining_time'|trans }}</th>#}
                        {#<th>ResponseTimeStatus3</th>#}
                        {#<th>TimeEntsogclosed</th>#}
                        {#<th>Time Above Sla</th>#}
                    </tr>
                    </thead>
                    {#tout le problème réside dans cette partie qui vient#}
                    <tbody>
                    {% if toShow is defined %}
                        {% for issue in toShow %}
<<<<<<< HEAD
                            <tr class="{{ issue.Severity|lower }} odd gradeX">
=======
                            <tr class="odd gradeX">
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
                                <td> {{ issue.id }}</td>
                                <td> {{ issue.project }}</td>
                                <td> {{ issue.Tracker }}</td>
                                <td> {{ issue.Severity }}</td>
                                {#<td class="center">{{ issue.id }}</td>#}
                                <td class="center">{{ issue.subject }}</td>
                                {#<td>{{ issue.CreationDT }}</td>#}
                                {#<td>{{ issue.IdentifiedtoReproducedDT }}</td>#}
                                {#<td>{{ issue.ResponseTimeStatus1 }}</td>#}
                                {#<td class="center">{{ issue.Testedtodeliver }}</td>#}
                                {#<td class="center">{{ issue.ResponseTimeStatus2 }}</td>#}
                                {#<td>{{ issue.TimeEntsogTestedtodeliver }}</td>#}
                                <td>{{ issue.spentTime }}</td>
                                {#<td>{{ issue.Closed }}</td>#}
                                {#<td>{{ issue.ResponseTimeStatus3 }}</td>#}
                                {#<td class="center">{{ issue.TimeEntsogclosed}}</td>#}
                                {% if issue.slaAbove > 0 %}
                                    <td class="center">{{ issue.slaToShow }}</td>
                                {% else %}
                                    <td class="center">0</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for issue in result %}
                            <tr class="{{ issue.Severity|lower }}">
                                <td> {{ issue.id }}</td>
                                <td> {{ issue.project }}</td>
                                {#<td> {{ issue.status }}</td>#}
                                <td> {{ issue.Tracker }}</td>
                                <td> {{ issue.Severity }}</td>
                                <td class="center">{{ issue.subject }}</td>
                                <td>{{ issue.spentTime }}</td>
                                <td class="center">{{ issue.slaAbove > 0 ? issue.slaToShow : '-' }}</td>
                                {#<td class="center">{{ issue.slaAbove == 0 ? issue.remainingTime : '-' }}</td>#}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- what does this script bellow do -->
