<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ 'label.reporting_sla'|trans }} {{ currentMonth }}/{{ currentYear }}</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-bordered" id="dataTables-example">
                    <thead>
                    <tr>
                        <th>{{ 'label.id'|trans }}</th>
                        <th>{{ 'label.project'|trans }}</th>
                        <th>{{ 'label.status'|trans }}</th>
                        <th>{{ 'label.tracker'|trans }}</th>
                        <th>{{ 'label.criticity'|trans }}</th>
                        <th>{{ 'label.subject'|trans }}</th>
                        <th>{{ 'label.spend_time'|trans }}</th>
                        <th>{{ 'label.above_sla'|trans }}</th>
                        <th>{{ 'label.remaining_time'|trans }}</th>
                        <th>{{ 'label.time_resolution'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in tickets %}
                        <tr class="{{ issue.severity|lower }}">
                            <td>{{ issue.id }}</td>
                            <td>{{ issue.project }}</td>
                            <td>{{ issue.status }}</td>
                            <td>{{ issue.tracker }}</td>
                            <td>{{ issue.severity }}</td>
                            <td class="center">{{ issue.subject }}</td>
                            <td>{{ issue.spentTime }}</td>
                            <td>{{ issue.slaToShow }}</td>
                            <td>{{ issue.remainingTime }}</td>
                            <td>{{ issue.timeResolution }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- what does this script bellow do -->
