<div class="top_nav">
    <div class="nav_menu">
<<<<<<< HEAD
        <div class="region region-navigation-collapsible">
            <nav role="navigation" aria-labelledby="main-top-navigation-menu" id="main-top-navigation" class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="logo-top"><img src="{{ asset('assets/images/logo.png') }}"></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="menu-container navbar-collapse collapse" aria-expanded="false">
                        <ul class="menu login-menu nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> {{ 'login.logout'|trans }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> {{ 'login.connection'|trans }}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a data-toggle="modal" data-target="#calendarModal" title="{{ 'menu.calendar'|trans }}">
                                    <i class="fa fa-calendar"></i> {{ app.session.get('current_month') ~ '-' ~ app.session.get('current_year')}}</a>
                            </li>
                        </ul>

                        <ul class="menu main-menu nav navbar-nav navbar-right menu-second">
                            <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
                                <a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'menu.dashboard'|trans }}</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'accueil' %}active{% endif %}">
                                <a href="{{ path('accueil') }}"><i class="fa fa-warning"></i> {{ 'menu.criticals'|trans }}</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'config' %}active{% endif %}">
                                <a href="{{ path('config') }}"><i class="fa fa-gear"></i> {{ 'menu.sla_configuration'|trans }}</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'flash_news' %}active{% endif %}">
                                <a href="{{ path('flash_news') }}"><i class="fa fa-clock-o"></i> {{ 'menu.flash_news'|trans }}</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'charts' %}active{% endif %}">
                                <a href="{{ path('charts') }}"><i class="fa fa-table"></i> {{ 'menu.tables'|trans }}</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'graphes' %}active{% endif %}">
                                <a href="{{ path('graphes') }}"><i class="fa fa-line-chart"></i> {{ 'menu.charts'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
=======
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a id="shutdown" href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-power-off fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav htitle"><b>{{ 'entsog_reporting'|trans }}</b></ul>
            <ul class="nav navbar-top-links ">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i>{{ 'menu.home'|trans }}</a>
                        </li>
                        <li><a href="{{ path('accueil') }}"><i class="fa fa-warning"></i>{{ 'menu.criticals'|trans }}</a>
                        </li>
                        <li><a href="{{ path('config') }}"><i class="fa fa-gear"></i>{{ 'menu.sla_configuration'|trans }}</a>
                        </li>
                        <li><a href="{{ path('flashNews') }}"><i class="fa fa-clock-o"></i>{{ 'menu.flash_news'|trans }}</a>
                        </li>
                        <li {#class="dropdown-submenu"#}>
                            <a href="{{ path('charts') }}"><i class="fa fa-table"></i>{{ 'menu.tables'|trans }}</a>
                            {# <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('charts') }}">Output per month</a>
                                    <a href="{{ path('statisticsActivity') }}">Treated Tickets per resource</a>
                                    <a href="{{ path('taskActivity') }}">Ticket per resource</a>
                                </li>
                            </ul> #}
                        </li>
                        <li><a href="{{ path('graphes') }}"><i class="fa fa-line-chart"></i>{{ 'menu.charts'|trans }}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
    </div>
</div>
