{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'login.welcome'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
                            <fieldset>
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="_username" value="{{ last_username }}" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="_password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="_remember" type="checkbox" value="Remember Me">{{ 'login.remember_me'|trans }}
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-success btn-block">{{ 'login.submit_button'|trans }}</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
{% endblock %}

{% block flash_news %}
{% endblock %}
=======

{% endblock %}

{% block flash_news %}
{% endblock %}
>>>>>>> c009e6fafa342eb93c461c493659bf7e585a84a1
